node_modules
.next
.git
.env*
.env
npm-debug.log*
README.md
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
server/node_modules
server/uploads
public/uploads
.turbo
.vercel
.idea
.vscode
*.swp
*.swo
*~
.prettierignore
.eslintignore
.DS_Store
dist
build
coverage
.cache
docker-compose.yml
*.md
.vscode